@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --primary: yellow;
}

.app-container {
  height: auto;
}

.main-container {
  display: grid;
  place-items: center;
  row-gap: 2rem;
  background-color: rgb(245, 245, 245);
}